@model Employee_Leave_Managent.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>            
            <td>
                @*@Html.ActionLink("Allocate to Employees","SetLeave", new { id = item.Id }, new {@class = "btn btn-success"})*@ 
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fa fa-pencil"></i> Allocate To Employees
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
